
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(lightgreen,lightgray);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  
  .App {
    text-align: center;
  }
  
  main {
    padding: 2rem;
    background-color: white;
    margin: 2rem auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
